body {
    margin: 0;
    padding: 0;
    background-color: #2B3C23;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
}

main.content,
section.container {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0 1.5rem;
    text-align: center;
}

main h2,
section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #2B3C23;
}

main p,
main li,
section p,
section li {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

main ul,
section ul {
    list-style: none;
    padding: 0;
}

main li,
section li {
    margin: .5rem 0;
}